*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import "3Project/nav.scss";
@import "3Project/header.scss";
@import "3Project/card.scss";
@import "3Project/gallery.scss";
@import "3Project/footer.scss";



