
//  Gallery

.gallery{
    margin-top: 6rem;

    h1{
        text-align: center;
        font-family: serif;
        margin-bottom: 5rem;
        font-size: 3rem;

    }

    .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .gallery-img{
        width: 300px;
        margin: 20px;
    }
}
